{% extends 'layouts.html' %}
{% block title %}
About page
{% endblock %}

{% block content %}
<br> <br>
<!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Our Vision</h2>
            <h2>Our Mission</h2>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              To be a topmost “One Stop Shop HVAC Solution provider” in Nigeria. <br> <br> <br>
              Delivering premium quality services at optimal pricing while meeting client satisfactions within stipulated timelines.
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

{% endblock %}
